body {
  background-color: beige;
  font-family: 'arial', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  color: chartreuse;
  text-align:center;
  padding-top: 5px;
  background-color: darkgrey;
}

p{
  color: black;
  text-align:center;
}

img{
  display:block;
  margin: 0 auto;
}
